{% load staticfiles %}
{% csrf_token %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Upload</title>
    <link href="{% static 'css/my_up.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery-1.7.2.min.js' %}"></script>
    <script src="{% static 'js/my_up.js' %}"></script>
</head>
<body>

<div id="modal-overlay1" class="modal-overlay">
    <div class="modal-data" id="detail-modal">
        <div class="box">
            <span><img src="#"></span>
        </div>
        <div class="info">
            <a>Close</a>
        </div>
    </div>
</div>

<header>
    <a id="back-btn" href="{% url 'home' %}"><img src="{% static 'image/back.png' %}"></a>
    <a href="#top"><img src="{% static 'image/back_to_top.png' %}"></a>
</header>

<a id="top"></a>

{#<div class="panel">#}
{#    <div class="column">#}
{#        <div class="up-item">#}
{#            <div class="preview">#}
{#                <span>#}
{#                   <img src="/media/32.jpg">#}
{#                </span>#}
{#            </div>#}
{#            <p>2017.03.01</p>#}
{#        </div>#}
{#        <div class="up-item">#}
{#            <div class="preview">#}
{#                <span>#}
{#                   <img src="/media/32.jpg">#}
{#                </span>#}
{#            </div>#}
{#            <p>2017.03.01</p>#}
{#        </div>#}
{#    </div>#}
{#    <div class="column">#}
{#        <div class="up-item">#}
{#            <div class="preview">#}
{#                <span>#}
{#                   <img src="/media/32.jpg">#}
{#                </span>#}
{#            </div>#}
{#            <p>2017.03.01</p>#}
{#        </div>#}
{#        <div class="up-item">#}
{#            <div class="preview">#}
{#                <span>#}
{#                   <img src="/media/32.jpg">#}
{#                </span>#}
{#            </div>#}
{#            <p>2017.03.01</p>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

</body>
</html>